/* Show it is custom CSS for Penji.com*/

body {

    margin: 0;
    padding: 0;
    background-color: #FCFCFC;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #716C80;
}
h1,h2,h3,h4,h5{
    color: #2E2E2E;
}

form-floating textarea{
    height: 150px;
}

.fs-14 {
    font-size: 14px;
}
.header-01{
    height: 250px;
}

body .blog-sideBar{
    color: #485582;
}

.tags-box{
    margin: 0px;
    padding: 0px;
}
.tags-box li{
    list-style: none;
    margin: 0 3px 5px 3px !important;
    background-color: #FEE3D7;
    border: #C0BDBD solid 1px;
    border-radius: 10px;
}
.tags-box li a{
    padding: 10px 24px 10px 24px;
    text-decoration: none;
    display: block;
    color: #485582 !important;


}

a{
    color: #485582;
}

.blog-sideBar li {
    margin-bottom: 30px;
}

.btn-orange {
    background-color: #F97235 !important; 
    color: #fff !important;
    border: none !important;
}
.search-input input:focus, .search-input button:focus { 
    background: #F9B594;
    color: #fff;
    outline: none !important;
    outline-color: #F97235 !important;
    box-shadow: none !important;
}
.search-input input {
    background: #F9B594;
    border-radius: 30px;
    padding-left: 30px;
    height: 80px;
    color: #fff;
    font-size: 24px;
}

.input-group .btn {
    position: relative;
    z-index: 2;
    border-radius: 30px;
    border: none;
    background: #F9B594;
    width: 91px;
    padding-right: 23px;
    color: #fff;
}

a:hover{
    color: #F97235;
    text-decoration: solid !important;
}

.fs-14{
    font-size: 14px;
}

.py-80{
    padding: 80px 0;
}

.theme{
    color: #7C7C7C;
}

.page-wrapper {
    flex: 1 0 auto;
}


.light-bg{
    background-color: #F6F6F6;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}

.h-mb-0{
    margin-bottom: 0px;
}

.sw-nav .navbar-nav .nav-item {
    margin: 20px 25px;
    font-size: 30px;
}

.date-cal{
    background-color: #ffffff;
    width: 80px;
    height: 80px;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding-top: 12px;
    margin: 20px;
}

.text-round-bg{    
    width: 48px;
    height: 48px;
    border-radius: 50%;
    text-align: center;
    padding-top: 9px;
    font-size: 20px;
    color: #fff;

}

.date-cal h4{
    font-size: 36px;
    margin-bottom:0px;
    line-height: 34px;
    font-weight: 600;

}
.date-cal span{
    font-size: 18px;
    font-weight: 600;
}

.sw-nav .navbar-nav .nav-item:last-child {
    margin-right: 0px;
}

.header-01 h1 {
font-size: 55px;
}



.video-box i {
    font-size: 70px;
}

.like-comment i{
margin-right: 10px;

}

.sw-nav .navbar-nav .nav-item a{
    color: #716C80;


}

.sw-nav .navbar-nav .nav-item a:hover {
    color: #2E2E2E;
    border-bottom: #F97235 2px solid;  
}

 
.sw-nav .navbar-nav .nav-item a.active{
    color: #2E2E2E;
    font-weight: 700;
    border-bottom: #F97235 2px solid;
}

.social-strip a img{
    width: 25px;
    height: 25px;
}
.social-strip a{
    padding: 0 8px;
}

.social-strip{
    height: 74px;
    background-color: #F6F6F6;
}

.scroll_navbar {
    padding: 10px 30px !important;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0, 0.4) !important;
    transition-duration: 0.6s !important;
    background-color: rgb(255 255 255 / 97%) !important;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    width: 80%;
}

.swiper-slide:nth-child(2n) {
    width: 60%;
}

.swiper-slide:nth-child(3n) {
    width: 40%;
}

.sw-social a img {  
    border-radius: 50%;
    background: #E2E8F0;
    padding: 3px;
    margin-right: 5px;
    width: 38px;
}

.copy-right{
    background-color: #FCFCFC;
    padding-top:20px;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .header-custom .navbar .navbar-collapse.show {
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.973);
        transition-duration: 0.6s;
    }
}

@media (min-width: 1400px) {
    .video-box{
        width: 860px;
        height: 514px;
    }
}
@media (max-width: 1499px) {
    .video-box{
        width: 100%;
    }
}